background = "#131314"
foreground = "#F9E7CF"
selection-background = "#EED4B2"
selection-foreground = "#131314"
cursor-color = "#EEB0C0"

# Normal colors
palette = 0=#3B3A3B
palette = 1=#E57B96
palette = 2=#E379B1
palette = 3=#ED8336
palette = 4=#71A6DA
palette = 5=#7FC0EB
palette = 6=#EEB976
palette = 7=#EED4B2

# Bright colors
palette = 8=#A7947D
palette = 9=#E57B96
palette = 10=#E379B1
palette = 11=#ED8336
palette = 12=#71A6DA
palette = 13=#7FC0EB
palette = 14=#EEB976
palette = 15=#EED4B2
