@import "~/.config/rofi/config.rasi"  

/* ---- Mainbox ---- */
mainbox {
  children: [ "inputbar", "message", "listview"];
}

/* ---- Entry ---- */
entry {
  placeholder: " 📋 Clipboard ";
}

element-icon {
    size: 1em;
    background-color: transparent;
}
