{{- $isWSL := and (eq .chezmoi.os "linux") (contains "microsoft" .chezmoi.kernel.osrelease) -}}
{{- $isCachyOS := and (eq .chezmoi.os "linux") (hasKey .chezmoi.osRelease "id") (eq .chezmoi.osRelease.id "cachyos") -}}
{{- $keepassDB := joinPath .chezmoi.homeDir "Documents/Syncs/KeePass/Databases/Passwords.kdbx" -}}
{{- $useKeePassXC := and (not $isWSL) (stat $keepassDB) -}}

{{ if $useKeePassXC -}}
encryption = "age"
{{ end }}

[data]
    isWSL = {{ $isWSL }}
    isCachyOS = {{ $isCachyOS }}
    useKeePassXC = {{ $useKeePassXC | not | not }}

{{ if $useKeePassXC }}
[age]
    identity = "~/.config/chezmoi/key.txt"
    recipient = "age1u8jpuvpt70q406l9j289jm8ayvn6ktmu67r8qru40492zkx4gufqfy6qwj"

[keepassxc]
    database = {{ $keepassDB | quote }}
{{ end }}
