{{- if .useKeePassXC }}
[user]
	email = "{{ keepassxcAttribute "Chezmoi" "git_email" }}"
	name = "{{ keepassxcAttribute "Chezmoi" "git_name" }}"
{{- else }}
	email = ""
	name = ""
{{- end }}

{{- if not .useKeePassXC }}
[gpg]
    format = ssh

[gpg "ssh"]
    program = ""

[commit]
    gpgsign = true
{{- end }}

[init]
	defaultBranch = main

[core]
	autocrlf = input

{{- if eq .chezmoi.os "darwin" }}
	editor = /opt/homebrew/bin/nvim
{{- else if eq .chezmoi.os "linux" }}
	editor = /usr/bin/nvim
{{- end }}

[diff]
	tool = nvimdiff

[difftool]
	prompt = false

[merge]
	tool = nvimdiff

[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f

