# If not running interactively, don't do anything
[[ $- != *i* ]] && return

source "${HOME}/.shell/aliases.sh"

if command -v nvim >/dev/null 2>&1; then
    nvim-env() {
        # Usage:
        # nvim-env nvim-scratch
        # nvim-env nvim-lazy    # another test config
        NVIM_APPNAME="$1" nvim "${@:2}"
    }

    # Tab completion for nvim-env
    _nvim_env_complete() {
        local cur="${COMP_WORDS[COMP_CWORD]}"
        local configs
        configs=$(ls ~/.config | grep nvim)
        COMPREPLY=($(compgen -W "$configs" -- "$cur"))
    }
    complete -F _nvim_env_complete nvim-env
fi

{{- if .isWSL }}

##### WSL CONFIGURATION #####
# don't put duplicate lines or lines starting with space in the history
HISTCONTROL=ignoreboth

# append to the history file, don't overwrite it
shopt -s histappend

# for setting history length see HISTSIZE and HISTFILESIZE in bash(1)
HISTSIZE=1000
HISTFILESIZE=2000

# check the window size after each command
shopt -s checkwinsize

# make less more friendly for non-text input files
[ -x /usr/bin/lesspipe ] && eval "$(SHELL=/bin/sh lesspipe)"

# set variable identifying the chroot you work in (used in the prompt below)
source "${HOME}/.shell/aliases.sh"

if [ -z "${debian_chroot:-}" ] && [ -r /etc/debian_chroot ]; then
    debian_chroot=$(cat /etc/debian_chroot)
fi

# set a fancy prompt (non-color, unless we know we "want" color)
case "$TERM" in
xterm-color | *-256color) color_prompt=yes ;;
esac

if [ "$color_prompt" = yes ]; then
    PS1='${debian_chroot:+($debian_chroot)}\[\033[01;32m\]\u@\h\[\033[00m\]:\[\033[01;34m\]\w\[\033[00m\]\$ '
else
    PS1='${debian_chroot:+($debian_chroot)}\u@\h:\w\$ '
fi
unset color_prompt

# If this is an xterm set the title to user@host:dir
case "$TERM" in
xterm* | rxvt*)
    PS1="\[\e]0;${debian_chroot:+($debian_chroot)}\u@\h: \w\a\]$PS1"
    ;;
esac

# enable color support of ls
if [ -x /usr/bin/dircolors ]; then
    test -r ~/.dircolors && eval "$(dircolors -b ~/.dircolors)" || eval "$(dircolors -b)"
    alias ls='ls --color=auto'
    alias grep='grep --color=auto'
    alias fgrep='fgrep --color=auto'
    alias egrep='egrep --color=auto'
fi

alias ll='ls -alF'
alias la='ls -A'
alias l='ls -CF'

# enable programmable completion features
if ! shopt -oq posix; then
    if [ -f /usr/share/bash-completion/bash_completion ]; then
        . /usr/share/bash-completion/bash_completion
    elif [ -f /etc/bash_completion ]; then
        . /etc/bash_completion
    fi
fi

{{- else }}

##### FZF #####
if command -v fzf &>/dev/null; then
    export FZF_DEFAULT_OPTS="--extended --multi --preview 'cat {}'"
    export FZF_CTRL_T_COMMAND="find . -printf '%P\\n'"
    export FZF_CTRL_T_OPTS="--preview='less {}' --bind shift-up:preview-page-up,shift-down:preview-page-down"
fi

##### ZOXIDE #####
if command -v zoxide &>/dev/null; then
    eval "$(zoxide init bash)"
    export _ZO_DATA_DIR="${HOME}/.config/zoxide"
    export _ZO_ECHO=1
fi

##### SHELL PROMPT #####
PS1='[\u@\h \W]\$ '

##### OH MY POSH PROMPT #####
if command -v oh-my-posh &>/dev/null; then
    eval "$(oh-my-posh init bash)"
fi

##### COMPLETERS #####
if command -v carapace &>/dev/null; then
    export CARAPACE_BRIDGES='zsh,fish,bash,inshellisense'
    source <(carapace _carapace)
fi

# AWSM
if command -v awsm &>/dev/null; then
    source <(awsm completions zsh)
fi

if command -v chezmoi &>/dev/null; then
    eval "$(chezmoi completion bash)"
fi

##### KEYBINDS #####
# Bind Ctrl+O to edit command in vim
bind '"\C-o": edit-and-execute-command'

##### SOURCE SHELL FILES #####
source "${HOME}/.shell/aliases.sh"
source "${HOME}/.shell/functions.sh"

{{- end }}
