* {
    selected-text: #171B22;
    selected-background: #71A6DA;

    prompt-text: #3B3A3B;
    prompt-background: transparent;

    normal-text: #E8EDF5;
    normal-background: transparent;

    window-border: #FFFFFF26;
    window-background: #171B22FA;

    scrollbar-filled: #71A6DA;
    scrollbar-empty: #242B35;

    error-message: #EED4B2;
    error-message-border: #EED4B2;
}
