* {
    selected-text:	#3B3A3B;
    selected-background: #71A6DA;

    prompt-text: #3B3A3B;
    prompt-background: transparent;

    normal-text: #F9E7CF;
    normal-background: transparent;

    window-border: #71A6DA;
    window-background: #EEB9760D;

    scrollbar-filled: #71A6DA;
    scrollbar-empty: #3B3A3B;

    error-message: #EED4B2;
    error-message-border: #EED4B2;
}
