* {
    selected-text:	#37383F;
    selected-background: #CBD488;

    prompt-text: #37383F;
    prompt-background: transparent;

    normal-text: #E2F2FB;
    normal-background: transparent;

    window-border: #CBD488;
    window-background: #AEDBF40D;

    scrollbar-filled: #CBD488;
    scrollbar-empty: #37383F;

    error-message: #CEE4F1;
    error-message-border: #CEE4F1;
}
