{{- $isDarwin := eq .chezmoi.os "darwin" -}}
{{- $isLinux := eq .chezmoi.os "linux" -}}
[general]
import = ["./colors.toml"]

[selection]
save_to_clipboard = true

[env]
TERM = "xterm-256color"

[window]
padding = { x = 4, y = 4 }
decorations = "Buttonless"
dynamic_padding = true
resize_increments = true
{{- if $isDarwin }}
opacity = 0.8
{{- else if $isLinux }}
opacity = 1
{{- end }}
blur = true
dimensions = { columns = 125, lines = 45 }
option_as_alt = "Both"

[scrolling]
history = 100000
multiplier = 3

[font]
glyph_offset = { x = 0, y = 0 }
builtin_box_drawing = true
{{- if $isDarwin }}
offset = { x = 2, y = 0 }
normal = { family = "Hack Nerd Font", style = "Regular" }
{{- else if $isLinux }}
offset = { x = 0, y = 0 }
normal = { family = "Hack Nerd Font", style = "Medium" }
{{- end }}
bold = { family = "Hack Nerd Font", style = "Bold" }
italic = { family = "Hack Nerd Font", style = "Italic" }
size = 14

[mouse]
hide_when_typing = true

[keyboard]
bindings = [
  { key = "F", mods = "Control|Alt|Shift", action = "ToggleFullscreen" },
  { key = "Space", mods = "Control|Alt", action = "ToggleViMode" },
  { key = "K", mods = "Control|Shift", chars = "\u000c" },
]

[colors]
draw_bold_text_with_bright_colors = true
