{{- $isDarwin := eq .chezmoi.os "darwin" -}}
{{- $isLinux := eq .chezmoi.os "linux" -}}
[general]
import = ["./colors.toml"]

[env]
TERM = "xterm-256color"

[window]
padding = { x = 4, y = 4 }
decorations = "Buttonless"
{{- if $isDarwin }}
opacity = 0.9
{{- else if $isLinux }}
opacity = 1
{{- end }}
blur = true
dimensions = { columns = 125, lines = 45 }
option_as_alt = "Both"

[font]
{{- if $isDarwin }}
normal = { family = "Hack Nerd Font", style = "Regular" }
{{- else if $isLinux }}
normal = { family = "Hack Nerd Font", style = "Medium" }
{{- end }}
bold = { family = "Hack Nerd Font", style = "Bold" }
italic = { family = "Hack Nerd Font", style = "Italic" }
size = 14

[mouse]
hide_when_typing = true

[keyboard]
bindings = [
  { key = "F", mods = "Control|Alt|Shift", action = "ToggleFullscreen" },
  { key = "Space", mods = "Control|Alt", action = "ToggleViMode" },
]

