##### COLOR SCHEME #####
# Default colors
# Colors the cursor will use if `custom_cursor_colors` is true
[colors.cursor]
text = "#011423"
cursor = "#EEB0C0"
# cursor = "#47FF9C"

[colors.primary]
background = "#131314"
foreground = "#F9E7CF"

[colors.normal]
black = "#3B3A3B"
red = "#7FC0EB"
green = "#E379B1"
yellow = "#ED8336"
blue = "#71A6DA"
magenta = "#7FC0EB"
cyan = "#EEB976"
white = "#EED4B2"

[colors.bright]
black = "#A7947D"
red = "#7FC0EB"
green = "#E379B1"
yellow = "#ED8336"
blue = "#71A6DA"
magenta = "#7FC0EB"
cyan = "#EEB976"
white = "#EED4B2"
