[general]
framerate = 120
bars = 256
bar_width = 1
bar_spacing = 1
lower_cutoff_freq = 50
higher_cutoff_freq = 4500

[input]
{{- if ne .chezmoi.os "darwin" }}
method = portaudio
{{- end }}
method = pipewire
source = auto

[output]
{{- if ne .chezmoi.os "linux" }}
method = noncurses
{{- end }}
channels = stereo
orientation = bottom
reverse = 1
waveform = 0

[color]
background = 'default'
gradient = 1
# foreground = '#33ffff'
gradient_color_1 = '#59cc33'
gradient_color_2 = '#80cc33'
gradient_color_3 = '#a6cc33'
gradient_color_4 = '#cccc33'
gradient_color_5 = '#cca633'
gradient_color_6 = '#cc8033'
gradient_color_7 = '#cc5933'
gradient_color_8 = '#cc3333'

gradient = 1
gradient_count = 8
gradient_color_1 = '#39393A'
gradient_color_2 = '#5C5F63'
gradient_color_3 = '#9CA09F'
gradient_color_4 = '#CFCCD8'
gradient_color_5 = '#E1E2E3'
gradient_color_6 = '#BDBEC1'
gradient_color_7 = '#CFCCD8'
gradient_color_8 = '#E1E2E3'

[smoothing]
monstercat = 1
noise_reduction = 50

[eq]
