* {
    selected-text: #171B22;
    selected-background: {{color12}};

    prompt-text: {{color0}};
    prompt-background: transparent;

    normal-text: #E8EDF5;
    normal-background: transparent;

    window-border: #FFFFFF26;
    window-background: #171B22FA;

    scrollbar-filled: {{color12}};
    scrollbar-empty: #242B35;

    error-message: {{color7}};
    error-message-border: {{color15}};
}
